#map {
    width: 100%; 
    height:  400px;
    z-index: 0;
     }
.Geolocation{
    top: 130px;
    left: 20px; 
    position: absolute;
    z-index: 2;
}
.contrGrupGeolocation{
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    float: right;
    background: #fff;
    border-radius: 4px;
}
.clickContrGrupGeolocation{
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 29px;
    padding: 3px;
    width: 29px;
}
.imgcontrGrupGeolocation{
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-image: url(../icons/location-crosshairs-solid.svg);
}